<span>
    {% for link in links %}
    {% if link.active %}
    <a href="{{ link.value }}">
    {{ link.label }}
    </a>{% if not loop.last %} · {% endif %}
    {% else %}
    <span>{{ link.label }}</span>{% if not loop.last %} · {% endif %}
    {% endif %}
    {% endfor %}
</span>
{{ content }}
<span>
    {% for link in links %}
    {% if link.active %}
    <a href="{{ link.value }}#">
    {{ link.label }}
    </a>{% if not loop.last %} · {% endif %}
    {% else %}
    <span>{{ link.label }}</span>{% if not loop.last %} · {% endif %}
    {% endif %}
    {% endfor %}
</span>
