{{ links_html }}
<div class="blog-post" id="{{ endpoint }}">
    <h2 class="blog-post-title">{{ title }}</h2>
    {% if subtitle is defined %}
    <h3 class="blog-post-subtitle">{{ subtitle }}</h2>
    {% endif %}
    {% if type == 'blog' %}
    <p class="blog-post-meta">
        {{ display_date }}
        {% if endpoint %}
        <a href="/{{ endpoint }}">permalink</a>
        {% endif %}
        {% if tags is defined and tags %}
        <br/> tags:
        {% endif %}
        {% for tag in tags %}
        <a href="/tag/{{ tag | replace(" ", "-") }}/">{{ tag }}</a>{% if not loop.last %} - {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {{ body }}
    <p><a href="#">back to top</a></p>
</div>
{{ links_html }}
