@media (prefers-color-scheme: light){
    .codehilite .hll { background-color: #ffffcc }
    code { color: #3f3f3f; background-color: #e0e0e0; }
}
@media (prefers-color-scheme: dark){
    .codehilite .hll { background-color: #080808; }
    div.codehilite pre { background-color: #333 !important; color: #ddd !important;}
    div.codehilite pre { border: 1px solid #5f5f5f; }
    code { color: #e0e0e0; background-color: #3f3f3f; }
}
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
@media (prefers-color-scheme: light){
    .codehilite .k { color: #008000; font-weight: bold } /* Keyword */
}
@media (prefers-color-scheme: dark){
    .codehilite .k { color: #55b055; font-weight: bold } /* Keyword */
}


@media (prefers-color-scheme: light){
    .codehilite .o { color: #666666 } /* Operator */
}
@media (prefers-color-scheme: dark){
    .codehilite .o { color: #999999} /* Operator */
}
.codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
@media (prefers-color-scheme: light){
    .codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
}
@media (prefers-color-scheme: dark){
    .codehilite .kc { color: #55b055; font-weight: bold } /* Keyword.Constant */
}
@media (prefers-color-scheme: light){
    .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
}
@media (prefers-color-scheme: dark){
    .codehilite .kd { color: #55b055; font-weight: bold } /* Keyword.Declaration */
}
@media (prefers-color-scheme: light){
    .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
}
@media (prefers-color-scheme: dark){
    .codehilite .kp { color: #55b055} /* Keyword.Pseudo */
}
@media (prefers-color-scheme: light){
    .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
}
@media (prefers-color-scheme: dark){
    .codehilite .kr { color: #55b055; font-weight: bold } /* Keyword.Reserved */
}
.codehilite .kt { color: #B00040 } /* Keyword.Type */
@media (prefers-color-scheme: light){
    .codehilite .m { color: #666666 } /* Literal.Number */
}
@media (prefers-color-scheme: dark){
    .codehilite .m { color: #999999} /* Literal.Number */
}
@media (prefers-color-scheme: light){
    .codehilite .s { color: #BA2121 } /* Literal.String */
}
@media (prefers-color-scheme: dark){
    .codehilite .s { color: #ff5353} /* Literal.String */
}
.codehilite .na { color: #7D9029 } /* Name.Attribute */
@media (prefers-color-scheme: light){
    .codehilite .nb { color: #008000 } /* Name.Builtin */
}
@media (prefers-color-scheme: dark){
    .codehilite .nb { color: #55b055} /* Name.Builtin */
}
@media (prefers-color-scheme: light){
    .codehilite .nc { color: #8686ff; font-weight: bold } /* Name.Class */
}
@media (prefers-color-scheme: dark){
    .codehilite .nc { color: #6666FF; font-weight: bold } /* Name.Class */
}
.codehilite .no { color: #880000 } /* Name.Constant */
@media (prefers-color-scheme: light){
    .codehilite .nd { color: #AA22FF } /* Name.Decorator */
}
@media (prefers-color-scheme: dark){
    .codehilite .nd { color: #f24aff} /* Name.Decorator */
}
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
@media (prefers-color-scheme: light){
    .codehilite .nf { color: #8686ff } /* Name.Function */
}
@media (prefers-color-scheme: dark){
    .codehilite .nf { color: #6666FF} /* Name.Function */
}
.codehilite .nl { color: #A0A000 } /* Name.Label */
@media (prefers-color-scheme: light){
    .codehilite .nn { color: #8686ff; font-weight: bold } /* Name.Namespace */
}
@media (prefers-color-scheme: dark){
    .codehilite .nn { color: #6666FF; font-weight: bold } /* Name.Namespace */
}
@media (prefers-color-scheme: light){
    .codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
}
@media (prefers-color-scheme: dark){
    .codehilite .nt { color: #55b055; font-weight: bold } /* Name.Tag */
}
.codehilite .nv { color: #19177C } /* Name.Variable */
@media (prefers-color-scheme: dark){
    .codehilite .nv { color: #7d5df9 } /* Name.Variable */
}
@media (prefers-color-scheme: light){
    .codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
}
@media (prefers-color-scheme: dark){
    .codehilite .ow { color: #f24aff; font-weight: bold } /* Operator.Word */
}
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
@media (prefers-color-scheme: light){
    .codehilite .mb { color: #666666 } /* Literal.Number.Bin */
}
@media (prefers-color-scheme: dark){
    .codehilite .mb { color: #999999} /* Literal.Number.Bin */
}
@media (prefers-color-scheme: light){
    .codehilite .mf { color: #666666 } /* Literal.Number.Float */
}
@media (prefers-color-scheme: dark){
    .codehilite .mf { color: #999999} /* Literal.Number.Float */
}
@media (prefers-color-scheme: light){
    .codehilite .mh { color: #666666 } /* Literal.Number.Hex */
}
@media (prefers-color-scheme: dark){
    .codehilite .mh { color: #999999} /* Literal.Number.Hex */
}
@media (prefers-color-scheme: light){
    .codehilite .mi { color: #666666 } /* Literal.Number.Integer */
}
@media (prefers-color-scheme: dark){
    .codehilite .mi { color: #999999} /* Literal.Number.Integer */
}
@media (prefers-color-scheme: light){
    .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
}
@media (prefers-color-scheme: dark){
    .codehilite .mo { color: #999999} /* Literal.Number.Oct */
}
@media (prefers-color-scheme: light){
    .codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
}
@media (prefers-color-scheme: dark){
    .codehilite .sa { color: #ff5353} /* Literal.String.Affix */
}
@media (prefers-color-scheme: light){
    .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
}
@media (prefers-color-scheme: dark){
    .codehilite .sb { color: #ff5353} /* Literal.String.Backtick */
}
@media (prefers-color-scheme: light){
    .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
}
@media (prefers-color-scheme: dark){
    .codehilite .sc { color: #ff5353} /* Literal.String.Char */
}
@media (prefers-color-scheme: light){
    .codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
}
@media (prefers-color-scheme: dark){
    .codehilite .dl { color: #ff5353} /* Literal.String.Delimiter */
}
@media (prefers-color-scheme: light){
    .codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
}
@media (prefers-color-scheme: dark){
    .codehilite .sd { color: #ff5353; font-style: italic } /* Literal.String.Doc */
}
@media (prefers-color-scheme: light){
    .codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
}
@media (prefers-color-scheme: dark){
    .codehilite .s2 { color: #ff5353} /* Literal.String.Double */
}
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
@media (prefers-color-scheme: light){
    .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
}
@media (prefers-color-scheme: dark){
    .codehilite .sh { color: #ff5353} /* Literal.String.Heredoc */
}
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
@media (prefers-color-scheme: light){
    .codehilite .sx { color: #008000 } /* Literal.String.Other */
}
@media (prefers-color-scheme: dark){
    .codehilite .sx { color: #55b055} /* Literal.String.Other */
}
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
@media (prefers-color-scheme: light){
    .codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
}
@media (prefers-color-scheme: dark){
    .codehilite .s1 { color: #ff5353} /* Literal.String.Single */
}
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
@media (prefers-color-scheme: light){
    .codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
}
@media (prefers-color-scheme: dark){
    .codehilite .bp { color: #55b055} /* Name.Builtin.Pseudo */
}
@media (prefers-color-scheme: light){
    .codehilite .fm { color: #8686ff; } /* Name.Function.Magic */
}
@media (prefers-color-scheme: dark){
    .codehilite .fm { color: #6666FF} /* Name.Function.Magic */
}
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
@media (prefers-color-scheme: light){
    .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
}
@media (prefers-color-scheme: dark){
    .codehilite .il { color: #999999} /* Literal.Number.Integer.Long */
}
